@import "../../common/common";
.calculator {
  display: flex;
  .screen {
    position: relative;
    background-color: #fefefe;
    .result {
      text-align: right;
    }
  }
  .keypad {
    position: relative;
    p {
      margin: 20px;
    }
    p:hover {
      cursor: pointer;
    }
    .keypad-row {
      .keypad-number {
        span {
          color: $primaryColor;
        }
      }
      .keypad-option {
        span {
          color: $accentColor;
        }
      }
    }
  }
}
