.calculator {
  color: red;
  display: flex;
  .screen {
    border: 1px solid black;
    position: relative;
    background-color: #fefefe
  }
  .keypad {
    border: 1px solid red;
    position: relative;
  }
}
